<section class="flex flex-col-reverse md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>P]:mb-4 text-pretty order-1">
        <p>
            Mi nombre es santiago sandoval, mis amigos me llaman sant o santi. Desde mis 15 años empecé con el diseño web aprendiendo HTML. Hoy en día manejo multiples frameworks y tecnologías para el diseño y desarrollo de apps o páginas web.
        </p>

        <p>
            Entre mis éxitos destaco que finalizando mis estudios de grado profesional, logré crear una iniciativa llamada Solamun basada en una red neuronal para ayudar a los agricultores con enfermedades en sus cultivos.
        </p>

        <p>
            Cuento con experiencia desarrollando páginas web y diseños de experiencias de usuario. Me encanta todo lo relacionado con el mundo Front-End, junto con su importancia y a su vez me gusta difundir mis conocimientos sobre ello.
        </p>
    </div>
    <!-- <img src="/me.jpeg" class="rounded-full size-64 order-2">-->
</section>